
@{
    ViewBag.Title = "Index";
}

<h2>Choose operation</h2>

<table>

    <tr>

        <td>@Html.ActionLink("Get All", "GetAll")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Show Student Cources", "GetStudentCource")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Show Student Credits", "GetStudentCredits")</td>

    </tr>
    <tr>

        <td>@Html.ActionLink("Show Teacher Info", "GetTeacherInfo")</td>

    </tr>
    <tr>

        <td>@Html.ActionLink("Order First Three Cources", "GetFirstThreeCources")</td>

    </tr>


</table>

